{
    "root": true,
    "extends": ["@frontify/eslint-config-react"],
    "settings": {
        "react": {
            "version": "detect",
        },
    },
    "parserOptions": {
        "project": ["./tsconfig.json", "./tsconfig.node.json"],
    },
    "overrides": [
        {
            "files": ["**/*.test.ts", "**/*.test.tsx"],
            "rules": {
                "@typescript-eslint/no-unsafe-call": "off",
                "@typescript-eslint/no-unsafe-assignment": "off",
                "@typescript-eslint/no-unsafe-member-access": "off",
                "@typescript-eslint/no-explicit-any": "off",
                "@typescript-eslint/no-unsafe-return": "off",
            },
        },
    ],
}
